

header {
	width: 100%;
	margin: 40px auto;
	text-align: center;
	display: inline-block;
	/* new */
	position: absolute;
	
}

.logo {
	width: 26%;
	float:left;
    margin-top: 1.2%;
    margin-left: 2%;
    color: #073448;
}
 
.logo a{
    color: #073448;
	text-decoration: none;
	font-size: 18px;
	/* font-weight: bold; */
	padding: 5px 50px;
	display: block;
	transition: .5s;
}


nav ul {
	/* new */
	width: 67%;
	float: right;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	position: relative;
}

nav a {
	color: #073448;
	text-decoration: none;
	font-size: 18px;
	/* font-weight: bold; */
	padding: 5px 50px;
	display: block;
	transition: .5s;
}

nav a:hover, .logo a:hover {
	background-color: #073448;
	color: #ffffff;
}

.title__container {
    display: flex;
}

.right__container, .left__container{
    flex-basis: 50%;
}

.left__container{
    float: left;
	width: 40%;
	padding: 30px;
	margin-top: 16%;
    margin-left: 10%;
}

.left__container h1{
    font-size: 50px;
    font-family: emoji;
}

.left__container p{
    font-size: 23px;
    font-family: emoji;
}

.right__container {
    /* float: right;
	width: 50%;
	color: #fff;
	padding: 30px; */
    float: right;
	height: 33%;
    width: 36%;
    
    margin-top: 17%;
    margin-right: 6%;
}

.right__container img{
    max-width: 100%;
    max-height: 100%;
}

.first__container{
	margin-top: 45%;
}
.second__container{
	margin-top: 5%;
	
}
.chart__description{
	font-size: 20px;
	text-align: center;
	margin-bottom: 10%;
}

footer {
	background: #073448;
	color: #fff;
	text-align: center;
	padding: 27px;
	border-top: 10px solid #5db1d4;
}

